# api framework
fastapi==0.115.0
uvicorn[standard]==0.30.6

# db
upstash-redis==1.2.0
sqlalchemy==2.0.37
psycopg2-binary==2.9.10
asyncpg==0.30.0

# extends
ujson==5.10.0
python-dotenv==1.0.1
pytz==2024.2

# tool
pydantic==2.10.5
pydantic[email]==2.10.5
typing_extensions==4.12.2
